<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>home</title>
    </head>
    <body>
        <%- include('./partials/header.ejs'); -%>
        <h1>HOME</h1>
        <p><%=homeStartingContent%></p>

        <%posts.forEach(function(posts){%>
            <h2><%=posts.title%></h2>
            <p>
                <%=posts.content.substring(0,100)+"..."%>
                <a href="posts/<%=posts.title%>">read more</a>
            </p>
        <%})%>
        <%- include('./partials/footer.ejs'); -%>
    </body>
</html>
